@{
    ViewBag.Title = "Home Page";
}
<marquee direction="left">
    <img src="~/Images/136939.jpg" width="500" height="300" />
    <img src="~/Images/299bc31cb5379fffaad0fa9bd7f0b453.jpg" width="500" height="300" />

    <img src="~/Images/we-care-4-healthcare.jpg" width="500" height="300" />
    <img src="~/Images/block.jpg" width="500" height="300" />
</marquee>

<div class="jumbotron">
    @*<h1>ASP.NET</h1>*@
    <p class="lead"> We enhance quality of life by enhancing health.The primary objective of our health delivery system is to enable all employees to receive health care services whenever needed that meet pre-established standards of quality.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

    <center><h1 style="color:dodgerblue;">SPECIALIZATION</h1></center>
   

<div class="row">
    <div class="col-md-4">
       
        <p> <img src="~/Images/circle-cropped (2).png" /> </p>
        <p>Neurology</p>
    </div>
    <div class="col-md-4">
        <p> <img src="~/Images/circle-cropped (1).png" /></p>
        <p>Cardiology</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>

</div>
<div style="background-color:lightskyblue" >
    <p style="font-family:Britannic;">
        <td>Chennai</td><br />
        <td>Bangalore</td><br />
        <td>Madurai</td><br />
        <td>Hyderabad</td>
    </p>
    
</div>